<div class="flow-container">

    <div class="row">

        <div class="col-12">

            <app-componente1></app-componente1>

        </div>

    </div>

   

    <div class="row">

        <app-componente4 class="col-4 bg-info"></app-componente4>



        <div class="col-8">

            <div class="row">

                <div class="col-12">

                    <app-componente2></app-componente2>

                </div>

            </div>

            <div class="row">

                <div class="col-12">

                    <app-componente3></app-componente3>

                </div>

            </div>

        </div>

    </div>

</div>