<div class="bg-danger" >
    <span >Componente2</span>
    <p>{{curso1C2.nombre}}</p>
    <p>{{curso1C2.descripcion}}</p>
   
    <p>{{contadorC2}}</p>

    <div class="col-6">
      <div class="form-group">
          <label for="usr">Nombre:</label>
          <input type="text" [(ngModel)]="curso1C2.nombre" class="form-control">
      </div>
      <div class="form-group">
          <label for="usr">Descripción:</label>
          <input type="text" [(ngModel)]="curso1C2.descripcion" class="form-control">
      </div>
      
</div>
    
   
  </div>
  
