<div class="bg-warning" >
    <span >Componente3</span>
    <p>{{curso2C3.nombre}}</p>
    <p>{{curso2C3.descripcion}}</p>
   
    <p>{{contadorC3}}</p>

    <div class="col-6">
      <div class="form-group">
          <label for="usr">Nombre:</label>
          <input type="text" [(ngModel)]="curso2C3.nombre" class="form-control">
      </div>
      <div class="form-group">
          <label for="usr">Descripción:</label>
          <input type="text" [(ngModel)]="curso2C3.descripcion" class="form-control">
      </div>
      
</div>
  </div>

